.vscode/settings.json
.homepage/__pycache__/
.lec/__pycache__/
.login/__pycache__/
.register/__pycache__/
homepage/__pycache__/__init__.cpython-38.pyc
homepage/__pycache__/admin.cpython-38.pyc
homepage/__pycache__/models.cpython-38.pyc
homepage/__pycache__/views.cpython-38.pyc
homepage/migrations/__pycache__/__init__.cpython-38.pyc
lec/__pycache__/__init__.cpython-38.pyc
lec/__pycache__/settings.cpython-38.pyc
lec/__pycache__/urls.cpython-38.pyc
lec/__pycache__/wsgi.cpython-38.pyc
login/__pycache__/__init__.cpython-38.pyc
login/__pycache__/admin.cpython-38.pyc
login/__pycache__/models.cpython-38.pyc
login/__pycache__/views.cpython-38.pyc
login/migrations/__pycache__/__init__.cpython-38.pyc
register/__pycache__/__init__.cpython-38.pyc
register/__pycache__/admin.cpython-38.pyc
register/__pycache__/models.cpython-38.pyc
register/__pycache__/views.cpython-38.pyc
register/migrations/__pycache__/__init__.cpython-38.pyc
.gitignore
